<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52809727635-e5ig0o3mpmkuineu1cipa7ds0jh528i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52809727635-e5ig0o3mpmkuineu1cipa7ds0jh528i6</string>
	<key>API_KEY</key>
	<string>AIzaSyCs3TmHAHDH39qFI3Ss5tg-SLxlEm3Hzpg</string>
	<key>GCM_SENDER_ID</key>
	<string>52809727635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.taskapp</string>
	<key>PROJECT_ID</key>
	<string>taskapp-27900</string>
	<key>STORAGE_BUCKET</key>
	<string>taskapp-27900.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52809727635:ios:197128a2484a00cb929766</string>
</dict>
</plist>